<center>
<h1>Your Closest Electric Fuel Station:</h1>
</center>
<br>
<hr>
<br>
<table>
  <tr>
    <th>Station Name</th>
    <th>Address</th>
    <th>Fuel Type</th>
    <th>Hours</th>
  </tr>
  <tr>
    <td><%= @station.name %></td>
    <td><%= @station.address %></td>
    <td><%= @station.fuel_type %></td>
    <td><%= @station.access_times %></td>
  </tr>
</table>

<h1>The distance to this station is:</h1>
<h1>The travel time to this station is: </h1>
