<!DOCTYPE html>
<html>
  <head>
    <title>NearestFuelStation</title>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 15px;
        padding: 14px;
        width: 100%;
      }

      th {
        background-color: #3e97b5;
        color: white;
      }

      th, td {
        width: 150px;
        text-align: center;
        border: 1px solid #2e2d2d;
        padding: 5px;
        color: white;
      }

      td {
        background-color: #84818a;
      }
    </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
